@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  padding: 10px;
}

.box {
  width: 100px;
  height: 100px;
  background: pink;
  border: 1px solid #000;
}

@property --n {
  syntax: "<integer>";
  inherits: false;
  initial-value: 0;
}

@keyframes count {
  from {
    --n: 5;
  }
  to {
    --n: 0;
  }
}

.App .timer {
  place-self: center;
}
.App .timer::after {
  display: block;
  content: "";
  line-height: 200px;
  width: 100px;
  height: 1lh;
  aspect-ratio: 1 / 1;
  font-size: 92pt;
  text-align: center;
  border: 1px dashed black;
}
.App .timer:hover::after {
  animation: 5s linear count;
  animation-fill-mode: forwards;
  counter-reset: n calc(0 + var(--n));
  content: counter(n);
}
